:root{
    --primary-color: #000000;
    --bs-body-bg: #FFFFFF;
    --bs-body-font-family: 'Coolvetica', sans-serif;
}
html, body{
    font-family: 'Coolvetica', sans-serif;
    font-size: 20px;
    background-color: #FFFFFF;
    color: #000000;
}
section{
    overflow-x: hidden;
}
.reveal{
    position: relative;
    transform: translateY(-150px);
    opacity: 0;
    transition: all 1s ease;
}
.reveal.active{
    transform: translateY(0px) !important;
    opacity: 1;
}

.navbar .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 1%29' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar .navbar-toggler {
    outline: none !important; /* Remove o contorno ao redor do botão */
    box-shadow: none !important; /* Remove a sombra que pode ser aplicada pelo navegador */
}

.navbar .navbar-toggler:focus {
    outline: none !important; /* Remove o contorno ao focar no botão */
    box-shadow: none !important; /* Remove a sombra que pode ser aplicada pelo navegador */
}

.navbar .navbar-toggler:active {
    outline: none !important; /* Remove o contorno ao clicar no botão */
    box-shadow: none !important; /* Remove a sombra que pode ser aplicada pelo navegador */
}

nav:hover{
    background-color: #FFCB04 !important;
    transition: 0.5s;
}
nav:not(:hover) {
    transition: 0.5s;
}

::-webkit-scrollbar{
    width: 7px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb{
    background-color: #FFCB04;
    border-radius: 3px;
}

/* HEADER */
.header{
    z-index: 2;
}
.hero{
    height: 100vh;
    background-color:#FFCB04;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero_video {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    object-fit: contain;
    z-index: 0;
}

@media (max-width: 1400px){
    .hero_video {
        padding-left: 10px;
        width: 150%;
        height: auto;
        z-index: 0;
    }
}
@media (max-width: 991.98px){
    .logo-link {
        display: none;
    }
    .hero_video {
        padding-left: 10px;
        width: 200%;
        height: auto;
        z-index: 0;
    }
}
@media (max-width: 600px){
    #hero_text {
        font-size: 30px !important;
    }
}
@media (max-width: 400px){
    #hero_text {
        margin-top: 150px !important;
        font-size: 25px !important;
    }
    .hero_video {
        padding-left: 10px;
        width: 250%;
        height: auto;
        z-index: 0;
    }
}

/* BODY ADMIN E ADMIN LOGIN */

.body-admin{
    background-color: #fff;
    height: 100vh;
};

.body-usuario{
    background-color: #fff;
    height: 100vh;
};


.box-area{
    width: 930px;
}

.right-box{
    padding: 80px 40px 40px 40px
}

::placeholder{
    font-size: 16px;
}

.botao-login{
    padding-top: 80px;
}

@media only screen and (max-width: 768px){
    .box-area{
        margin: 0 10px;
    }
    .left-box{
        height: 100px;
        overflow: hidden;
    }
    .right-box{
        padding:  20px;
    }
}