::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
    color: #000;
}

h1, h2{
    color: #000 !important
}
h3{
    font-size: 2em !important; 
}
p{
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 1.3em;
}
p2{
    color: #000;
    font-size: 1em;
}
p3{
    color: #000;
    font-size: 0.9em;
}
p4{
    font-size: 1.4em;
}
#button1{
    background-color: #FFCB04; color: #000;
}
body {
    font-family: 'Coolvetica', sans-serif;
    color: #000;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    margin-left: 70px;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}
.main i {
    position: relative;
    top: 2px;
    font-size: 1.1rem;
}
#back {
    font-size: 2rem;
}
#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #FFCB04;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    max-width: 130px;
    padding: 1rem 0rem;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #000;
    font-size: 1.15rem;
    font-weight: 600;
    padding-right: 10px;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #000;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    position: relative;
    top: 5px;
    font-size: 1.1rem;
    margin-right: .75rem;
}
.sidebar-link img {
    width: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #fff;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #FFCB04;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}